<section-page class="section section1 section-dark container-fluid"
              id="section1">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-10 section1-custom-col">
        <div class="row row-v-center">
          <div class="col-lg-5 col-logo">
            <div class="logo-wrapper">
              <div class="section-logo"></div>
            </div>
          </div>
          <div class="col-lg-7 col-text">
            <div class="row">
                <div class="col-lg-12 padding-h-10">
                    <h2>
                          <span class="string">Decentral specilizes in developing distributed systems software</span>
                        <span class="string">We build scalable and cross-chain ready infrastracture for for protocols and exchanges</span>
                    </h2>
                </div>
            </div>
            <div class="row row-flex m-col row-custom ">
              <div class="col-1 padding-h-10 m-100"><p><span class="selected">Read</span> case studies.</p></div>
              <div class="col-2 padding-h-10 m-100"><p><span class="selected">Talk</span> to an expert.</p></div>
              <div class="col-3 padding-h-10 m-100">
                <p>
                  <span class="string"><span class="selected">Schedule</span> a zoom meeting </span>
                  <span class="string">with our blockchain developers.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section2 container-fluid"
              id="section2">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center boxes">
          <div class="box square box-1">
            <div class="box-inner">
              <h3>Focused on security</h3>
              <p><span>Industry standard contract</span>
                <span>security patterns</span></p>
            </div>
          </div>
          <div class="box square box-2">
            <div class="box-inner">
              <h3>Modular approach</h3>
              <p><span>Simple code, only basics.</span>
                <span>Easy collaboration and auditing</span></p>
            </div>
          </div>
          <div class="box square box-3">
            <div class="box-inner">
              <h3>Open Source</h3>
              <p><span>Community driven. Used by</span>
                <span>multiple organizations and individuals</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section3 section-dark container-fluid"
              id="section3">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center row-header">
          <div class="col-lg-70">
            <h2>We're committed to <span class="selected">our process.</span></h2>
            <p class="header-description">At Decentral Solutions, we believe security is the cornerstone of the blockchain economy. Whether you're running a token sale or building smart contract systems, you need to make sure your code works as intended</p>
          </div>
        </div>
        <div class="row row-center shapes">
          <div class="col-lg-4 col-center col-pos-unset shape-box">
            <div class="shape-1"></div>
          </div>
          <div class="col-lg-4 col-center col-pos-unset shape-box">
            <div class="shape-2"></div>
          </div>
          <div class="col-lg-4 col-center col-pos-unset shape-box">
            <div class="shape-3"></div>
          </div>
          <div class="line"></div>
        </div>
        <div class="row row-center text-boxes">
          <div class="col-lg-4 text-box">
            <h5>Goal definition</h5>
            <div class="col-content">
              <p>At Decentral Solutions, we perform private and public code audits for organizations. We review your smart contracts and application code, and write an actionable report of every issue found.</p>
              <p>The report outlines potential problems in the code, additional recommendations to increase security, and general analysis of the contract dynamics reflecting state-of-the-art security patterns.</p>
            </div>
          </div>
          <div class="col-lg-4 text-box">
            <h5>Analyse</h5>
            <div class="col-content">
              <p>Report is sent privately so you can address the issues we found, and prepare a disclosure strategy. After this has been done, you can choose to publish the report on the OpenDecentral Solutions blog.</p></div>

          </div>
          <div class="col-lg-4 text-box">
            <h5>Implementation</h5>
            <div class="col-content">
              <p>We have expertise in auditing Solidity, EVM assembly, JavaScript, Python, and Bitcoin Scripting code.</p></div>

          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section4 container-fluid"
              id="section4">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center row-header">
          <div class="col-lg-6">
            <h3>Services<span class="selected">.</span></h3>
            <p class="header-description">Our solutions includes the following services:</p>
          </div>
        </div>
        <div class="row row-center m-col">
          <div class="col-lg-6">
            <h5>SMART CONTRACT SECURITY AUDIT</h5>
            <div class="col-content">
              <p>We audit your contracts to identify vulnerable code, whether it’s logic flaws, using unsafe design patterns, or not following best practices. The report from the audit can be publicly referenced and shared with your investors to instill confidence.</p>
              <p>Smart contracts provide a way to programatically govern relationships between one or more entities without the need for a middleman. The security implications of this new paradigm are far reaching, leading to new classes of vulnerabilities in code. Vulnerabilities in smart contracts have cumulatively cost the cryptocurrency ecosystem hundreds of millions of dollars in losses.</p>
              <p>We help to identify security flaws in your contracts before they are deployed into a production environment.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="col-content pics-desc">We employ an industry standard methodology that uses a number of different techniques to identify security issues:</div>
            <div class="pics-table">
              <div class="row row-center">
                <div class="col-lg-4">
                  <div class="cell">
                    <div class="cell-image-container">
                      <img class="cell-image analytics-static" src="images/analytics-static.png" alt="">
                    </div>
                    <span class="cell-desc">Static analysis</span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="cell">
                    <div class="cell-image-container">
                      <img class="cell-image analytics-dynamic" src="images/analytics-dynamic.png" alt="">
                    </div>
                    <span class="cell-desc">Dynamic analysis</span>
                  </div>
                </div>
              </div>
              <div class="row row-center">
                <div class="col-lg-4">
                  <div class="cell">
                    <div class="cell-image-container">
                      <img class="cell-image code-review" src="images/code-review.png" alt="">
                    </div>
                    <span class="cell-desc">Manual code review</span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="cell">
                    <div class="cell-image-container">
                      <img class="cell-image testing" src="images/testing.png" alt="">
                    </div>
                    <span class="cell-desc">Manual testing</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-content col-content-wide">
              <p>The audit report can either be used privately to secure the contracts before handling funds, or it can be made public on the iosiro website. Public reports can be shared with potential investors to provide a third party perspective on the security of the contracts, providing them with peace of mind.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section5 section-dark container-fluid"
              id="section5">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center row-header">
          <div class="col-lg-4">
            <h3>Services<span class="selected">.</span></h3>
          </div>
        </div>
        <div class="row row-center">
          <div class="col-lg-12 text-col">
            <div class="row text-row">
              <div class="col-lg-6 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase">Blockchain Mainnet Development</h5>
                  <div>
                    <p>We serve clients specializing in protocol development. Decentral enables companies to build decentralized, secure and reliable blockchain protocols for cryptocurrency, smart contract, and byzantine fault tolerant systems.</p>
                    <p>Blockchains we build can be public or private. The main difference between the two types is how the default permissions built into the network allow new blocks to be written to the chain. Decentral can operate as either advisor or software architect in providing our custom private or permissioned public blockchain solution.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase">Cybersecurity Audits</h5>
                  <div>
                    <p>We provide audit and cybersecurity services for a variety of software systems. In an audit Decentral provides a comprehensive overview of your blockchain protocol, smart contract, or a web 2.0 app.</p>
                    <p>Our network of academics, cryptographers and cybersecurity specialists are staffed to spot vulnerability's in your software systems. We have multiple years of industry recognition including successfully auditing DApps and Smart Contracts that have gone to raise upwards of 30M USD. We work with your team after the audit to provide a confidential report on a comprehensive list of potential attack vectors and other security issues. Optionally based on initial proposal and scope discussion, we can provide a publishable report detailing our independently verified result and proof of completion in resolving all outstanding issues.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-row">
            
            
              <div class="col-lg-6 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase">Zero Knowlegde Cryptography</h5>
                  <div>
                    <p>Our practice includes cryptographers who bring a unique perspective, broad experience acquired through close collaboration with clients, and deep insight to zero knowledge cryptography implementations including ZK-SNARKs and ZK-STARKs.</p>
                    <p>Decentral's ZK cryptography software implementation ensures your personal and transaction data remain completely confidential. Zero-knowledge proofs allow transactions to be verified without revealing the sender, receiver or transaction amount. Based on a requirements discussion Decentral's partners and your  executive or engineering team, we provide selective disclosure features within our implementation. This allow a user to share some transaction details, for purposes of compliance or audit.</p>
                  </div>
                </div>
              </div>
              
              
              
              <div class="col-lg-6 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase">KYC & AML Pipeline</h5>
                  <div>
                    <p>Decentral works primarily with leading companies in the financial services and insurance industries. Within those industries, KYC and AML compliance is of utmost importance. Examples of our work covers many cases involving cross-functional transformation, digital transformation, new business development, M&A and alliance, and global strategy formulation and implementation.</p>
                  </div>
                </div>
              </div>
              
              
            </div>



          <div class="row text-row">

              <div class="col-lg-4 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase"></h5>
                  <div>

                  </div>
                </div>
              </div>



              <div class="col-lg-4 coll-center text-container">
                <div class="coll-container">
                  <h5 class="text-uppercase">Areas of Expertise</h5>
                  <div>
                    <p>Production Deployment of Cloud infrastracture</p>
                    <p>Key Management Systems.</p>
                    <p>Staking Pools & Mining Pools.</p>
                    <p>Mobile and Desktop wallet Development</p>
                    <p>Exchange API Integration and Market Making</p>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 coll-center text-container">
                <div class="coll-container coll-lg-70">
                  <h5 class="text-uppercase"> </h5>
                  <div>
                  </div>
                </div>
              </div>
            </div>

            
            
            
            
            
            
            
            
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section6 section-dark container-fluid"
              id="section6">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60 coll-center">
        <div class="coll-container coll-lg-65">
          <p><span class="selected">Initial Coin Offerings</span> (ICO) present a high level of risk to both organizers and investors. The large sums of cryptocurrencies raised during ICOs are an attractive target for attackers. Sensitive data collected during KYC processes adds additional risk that may deter potential investors from participating.</p>
          <p>With years of experience in security, iosiro provides a turnkey ICO security solution that strengthens the security posture of systems used in ICOs. The solution addresses many of the threats posed during a typical token sale.</p>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section7 container-fluid"
              id="section7">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center row-header">
          <div class="col-lg-12">
            <h3>Meet The Decentral Solutions <span class="selected">Team.</span></h3>
          </div>
        </div>
        <div class="row row-center">
          <div class="col-lg-12">
            <div class="team">
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-1">
                    <div class="cell-content">
                      <div class="name">Ling Qing Meng</div>
                      <div class="info">
                        <div class="position">Founder & CEO</div>
                        <div class="email">lmeng@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/lingqingmeng'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-2">
                    <div class="cell-content">
                      <div class="name">Nagu Thogiti</div>
                      <div class="info">
                        <div class="position">Security Auditor & Blockchain Engineer</div>
                        <div class="email">nthogiti@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/Nagu168'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-3">
                    <div class="cell-content">
                      <div class="name">Dillon Settle</div>
                      <div class="info">
                        <div class="position">Director of Global Operations</div>
                        <div class="email">dsettle@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/dillonsettle'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-4">
                    <div class="cell-content">
                      <div class="name">Nick Hyungsuk Kang</div>
                      <div class="info">
                        <div class="position">Blockchain Engineer</div>
                        <div class="email">hkang@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='http://www.t.me/hskang9'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-5">
                    <div class="cell-content">
                      <div class="name">Tamara Frankel</div>
                      <div class="info">
                        <div class="position">Director of Business Development</div>
                        <div class="email">tfrankel@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/s0ftmachine'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-6">
                    <div class="cell-content">
                      <div class="name">Yevgeniy Spektor</div>
                      <div class="info">
                        <div class="position">Blockchain Engineer</div>
                        <div class="email">yspektor@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/yev_yev_yev'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 cell-wrapper">
                <div class="cell">
                  <div class="cell-square cell-image-7">
                    <div class="cell-content">
                      <div class="name">Rico Chen</div>
                      <div class="info">
                        <div class="position">Chief Technology Officer</div>
                        <div class="email">rchen@decentral.solutions</div>
                      </div>
                      <div class="contact">
                        <button class="btn btn-contact" onclick="location.href='https://t.me/ricochen'">Contact</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper">
        <%- partial('_partial/social', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</section-page>
<section-page class="section section8 section-dark container-fluid"
              id="section8">
  <div class="section-inner">
    <div class="section-content">
      <div class="col-lg-12 padding-h-60">
        <div class="row row-center row-header">
          <div class="col-lg-12">
            <h3>Our <span class="selected">Process.</span></h3>
          </div>
        </div>
        <div class="row row-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="under-header">
                  <h5>Let us <span class="selected">help</span></h5>
                  <p>Decentral Solutions has broad experience managing large and small projects ensuring on time delivery and customer satisfaction. Our development process is customized for each customers unique requirements but commonly proceed along the following steps:</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="pics-table">
                  <div class="row row-center cell-row">
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__1" src="images/analytics-static.png" alt="">
                        </div>
                        <span class="cell-head">Consultation</span>
                        <p class="cell-desc">We listen to your requirements, understand the project scope, and provide guidance to get the best result</p>
                      </div>
                    </div>
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__2" src="images/analytics-dynamic.png" alt="">
                        </div>
                        <span class="cell-head">Proposal</span>
                        <p class="cell-desc">We develop a comprehensive proposal for your internal review with timelines and cost</p>
                      </div>
                    </div>
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__3" src="images/analytics-dynamic.png" alt="">
                        </div>
                        <span class="cell-head">Project Kick Off</span>
                        <p class="cell-desc">We begin work on the project and schedule regular status updates and feedback sessions</p>
                      </div>
                    </div>
                  <!--</div>-->
                  <!--<div class="row row-center cell-row">-->
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__4" src="images/code-review.png" alt="">
                        </div>
                        <span class="cell-head">Completion</span>
                        <p class="cell-desc">We deliver the completed project on time and on budget</p>
                      </div>
                    </div>
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__5" src="images/testing.png" alt="">
                        </div>
                        <span class="cell-head">Rapid Prototype</span>
                        <p class="cell-desc">In some cases we will initially develop a quick prototype to ensure full alignment with your vision</p>
                      </div>
                    </div>
                    <div class="col-lg-4 cell-wrapper">
                      <div class="cell">
                        <div class="cell-image-container">
                          <img class="cell-image cell-image__6" src="images/analytics-dynamic.png" alt="">
                        </div>
                        <span class="cell-head">Documentation, Testing Tools, Training, and Integration Support</span>
                        <p class="cell-desc wide">Decentral Solutions provides full support to your in-house engineers to ensure smooth adoption of the product, and the tools to allow future in-house maintenance</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-center row-btn">
          <form action="https://calendly.com/lmeng" role="form">
            <button type="submit" class="btn">Schedule A Meeting</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section-page>
<section-page class="section section9 container-fluid"
              id="section9">
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</section-page>
