<div class="section-footer">
    <div class="section-inner">
        <div class="section-content">
            <div class="col-lg-12 padding-h-60">
                <div class="row row-center row-header">
                    <div class="col-lg-12">
                        <h3>Contact <span class="selected">Information.</span></h3>
                    </div>
                </div>
                <div class="row row-center about-row">
                    <div class="col-lg-6 about-col">
                        <div class="address-block">
                            <div id="map" class="g-map"></div>
                            <script>
                              function initMap() {
                                var point = {lat: 37.7839256, lng: -122.4322163};
                                var map = new google.maps.Map(
                                  document.getElementById('map'), {zoom: 16, center: point});
                                var marker = new google.maps.Marker({position: point, map: map});
                              }
                            </script>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAks_A2m5LhySAMVMmBbVmOXnuL7ptnjs8&callback=initMap">
                            </script>
                            <div class="address-block-inner">
                                <p>1489 Webster St</p>
                                <p>6th Floor</p>
                                <p>San Francisco, CA 94115</p>
                                <p>Phone: (650)383-0295</p>
                                <p>Email: hello@decentral.solutions</p>
                                <p>Skype: video@decentral.solutions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-col">
                        <div class="about-us">
                            <h5>About Us</h5>
                            <p>Our San Francisco Office is located at 650 California St. San Francisco, CA 94108<br>
                            Schdule a consultation today.<br>
                            Simply send us a text message containing a detailed question and a contact email.
                            We will followup sortly to schedule a consultation meeting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            <div class="row flex-row footer-row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10 col-left">
                    <div class="copyright">
                        <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></p>
                        <p><a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a></p>
                    </div>
                    <!-- END COPYRIGHT -->
                </div>
                <div class="col-md-6 col-sm-6 padding-top-10 col-right col-v-center">
                    <div class="row flex-row row-100 row-right">
                        <div class="links">
                            <a href="<%= config.link_case_studious %>"><%= config.name_case_studious %></a>
                            <a href="<%= config.link_blog %>"><%= config.name_blog %></a>
                        </div>
                        <%- partial('_partial/social') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
</div>
